spring-boot-server/target/classes/com/taskmanager/TaskManagerApplication.class
spring-boot-server/target/classes/com/taskmanager/controller/AuthController.class
spring-boot-server/target/classes/com/taskmanager/controller/ProjectController.class
spring-boot-server/target/classes/com/taskmanager/controller/TaskController.class
spring-boot-server/target/classes/com/taskmanager/dto/AuthResponse.class
spring-boot-server/target/classes/com/taskmanager/dto/BulkUpdateError.class
spring-boot-server/target/classes/com/taskmanager/dto/BulkUpdateRequest.class
spring-boot-server/target/classes/com/taskmanager/dto/BulkUpdateResponse.class
spring-boot-server/target/classes/com/taskmanager/dto/LoginRequest.class
spring-boot-server/target/classes/com/taskmanager/dto/ProjectDTO.class
spring-boot-server/target/classes/com/taskmanager/dto/ProjectDTO$TaskCountDTO.class
spring-boot-server/target/classes/com/taskmanager/dto/ProjectMemberDTO.class
spring-boot-server/target/classes/com/taskmanager/dto/RegisterRequest.class
spring-boot-server/target/classes/com/taskmanager/dto/TaskDTO.class
spring-boot-server/target/classes/com/taskmanager/dto/TaskHistoryDTO.class
spring-boot-server/target/classes/com/taskmanager/dto/TaskPatchDTO.class
spring-boot-server/target/classes/com/taskmanager/dto/UserDTO.class
spring-boot-server/target/classes/com/taskmanager/model/ChangeType.class
spring-boot-server/target/classes/com/taskmanager/model/MemberRole.class
spring-boot-server/target/classes/com/taskmanager/model/Priority.class
spring-boot-server/target/classes/com/taskmanager/model/Project.class
spring-boot-server/target/classes/com/taskmanager/model/ProjectMember.class
spring-boot-server/target/classes/com/taskmanager/model/Task.class
spring-boot-server/target/classes/com/taskmanager/model/TaskHistory.class
spring-boot-server/target/classes/com/taskmanager/model/TaskStatus.class
spring-boot-server/target/classes/com/taskmanager/model/User.class
spring-boot-server/target/classes/com/taskmanager/repository/ProjectMemberRepository.class
spring-boot-server/target/classes/com/taskmanager/repository/ProjectRepository.class
spring-boot-server/target/classes/com/taskmanager/repository/TaskHistoryRepository.class
spring-boot-server/target/classes/com/taskmanager/repository/TaskRepository.class
spring-boot-server/target/classes/com/taskmanager/repository/UserRepository.class
spring-boot-server/target/classes/com/taskmanager/security/JwtUtil.class
spring-boot-server/target/classes/com/taskmanager/security/SecurityConfig.class
spring-boot-server/target/classes/com/taskmanager/service/AuthenticationService.class
spring-boot-server/target/classes/com/taskmanager/service/CustomUserDetailsService.class
spring-boot-server/target/classes/com/taskmanager/service/ProjectService.class
spring-boot-server/target/classes/com/taskmanager/service/TaskService.class
